<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/css/faq.css">
        <title>Voodoo • FAQ</title>
    </head>
    <body>
        <div class="main-content-background">
            <div class="main-content">
                <div class="faq-header">
                    <p>FAQ</p>
                </div>
                <div class="faq-content">
                    <div class="faq-one">
                        <div class="faq-question">
                            <p class="question">What is Voodoo?</p>
                        </div>
                        <div class="faq-answer">
                            <p class="answer">Voodoo is a simple to use free file sharing service. Simply just upload an image or video and share it with your friends!</p>
                        </div>
                    </div>
                    <div class="faq-two">
                        <div class="faq-question">
                            <p class="question">What is allowed on Voodoo?</p>
                        </div>
                        <div class="faq-answer">
                            <p class="answer">Voodoo welcomes all images and videos, as long as they're legal in the United States and you have the legal right to publish the content under our service. <br><br>Please read the Terms of Service for more information.</p>
                        </div>
                    </div>
                    <div class="faq-eight">
                        <div class="faq-question">
                            <p class="question">Why only 16 MB allowed?</p>
                        </div>
                        <div class="faq-answer">
                            <p class="answer">We don't actually store any uploaded content on our server, we store it on our database. We do this because if something happens to our server, you won't lose any of your uploaded content. <br><br>Unfortunatly our database only allows up to 16 MB files. So please keep that in mind when you plan on uploading something onto Voodoo.</p>
                        </div>
                    </div>
                    <div class="faq-three">
                        <div class="faq-question">
                            <p class="question">Are all my uploads anonymous?</p>
                        </div>
                        <div class="faq-answer">
                            <p class="answer">Yes, you don't need to sign up in order to access our file sharing service, and we do not share personal information to <b>anyone.</b></p>
                        </div>
                    </div>
                    <div class="faq-four">
                        <div class="faq-question">
                            <p class="question">Do you sell personal data?</p>
                        </div>
                        <div class="faq-answer">
                            <p class="answer">No.</p>
                        </div>
                    </div>
                    <div class="faq-five">
                        <div class="faq-question">
                            <p class="question">Do you log anything when I upload something?</p>
                        </div>
                        <div class="faq-answer">
                            <p class="answer">Yes, for safety purposes we log your IP address. But no one can access it but us.<br><br>
                            Please read the Terms and Service for more information.</p>
                        </div>
                    </div>
                    <div class="faq-six">
                        <div class="faq-question">
                            <p class="question">Who do I contact if I want to remove something?</p>
                        </div>
                        <div class="faq-answer">
                            <p class="answer">Check out our contacts page for an email.</p>
                        </div>
                    </div>
                    <div class="faq-seven">
                        <div class="faq-question">
                            <p class="question">Who do I contact if I see something against Terms of Service?</p>
                        </div>
                        <div class="faq-answer">
                            <p class="answer">Check out our contacts page for an email.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>