<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/index.css">
        <title>Voodoo • File Hosting</title>
    </head>
    <body>
        <div class="main-content-background">
            <div class="main-content">
                <div class="top-divider"></div>
                <div class="site-title-content">
                    <p class="site-title">Voodoo Hosting~</p>
                </div>
                <div class="max-file-upload-content">
                    <p class="max-file-upload">Uploads up to 200 MB are allowed. You should read the FAQ</p>
                </div>
                <div class="file-upload-form-content">
                    <form action="/files/upload" method="post" enctype="multipart/form-data">
                        <div class="file-upload-content">
                            <label for="file-upload" class="custom-file-upload">
                                Select or drop files
                            </label>
                            <input id="file-upload" required name="FILE_UPLOAD" type="file"/>
                        </div>
                        <div class="divider-div"></div>
                        <div class="upload-file-btn-content">
                            <button class="upload-file-btn" type="submit">Upload selected video</button>
                        </div>
                    </form>
                </div>
                <div class="menu-content">
                    <a class="menu-item" href="/faq">FAQ</a>
                    <p class="menu-divider"> | </p>
                    <a class="menu-item" href="/tos">Terms of Service</a>
                    <p class="menu-divider"> | </p>
                    <a class="menu-item" href="/contact">Contact</a>
                    <p class="menu-divider"> | </p>
                    <a class="menu-item" href="/github">GitHub</a>
                </div>
            </div>
        </div>
    </body>
</html>