<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/css/tos.css">
        <title>Voodoo • Terms of Service</title>
    </head>
    <body>
        <div class="main-content-background">
            <div class="main-content">
                <div class="tos-header">
                    <p>Terms of Service</p>
                </div>
                <div class="terms-of-service-content">
                    <div class="terms">
                        <h3>Posted & Effective: May 27th, 2022</h3>
                        <br>
                        <h3>Scope and Modifications</h3>
                        <br>
                        <p>
                            Thank you for choosing Voodoo as your file sharing service. By using our service, you agree to all the Terms and Conditions listed below.
                            Consequences for breaking these Terms and Conditions will be listed on each section. If you have any questions or cause for concerns, our contact email is on the contact page.
                        </p>
                        <br>
                        <h3>What users are allowed and not allowed to post</h3>
                        <br>
                        <p>
                            All images and videos are welcome, as long as their content is legal in the United States and you have the legal right to publish the work on our service.
                            <br>
                            <br>
                            <b><u>Do not upload</u></b> anything that is against the law in the United States. <br>That includes: Child pornography, enitre episodes
                            of T.V. shows, full movies, sexualized depication of minors, beastiality and sexual violence. 
                            <br>
                            <br>
                            Gore is allowed <b><u>only</u></b> for education & documentation purposes. Using it as shock content will be removed. Pornography is also allowed
                            as long as its legal, and both parties are <b>consenting adults</b>. Anything that is sexually depicting minors can and will be removed
                            and reported to the right authorities.
                            <br>
                            <br>
                            Breaking this Term will result in your post getting deleted. Voodoo logs everyones internet protocol (IP) when posting content, and we will report
                            you to the authorities if we feel the need to do so. 
                             
                        </p>
                        <br>
                        <h3>What Voodoo logs when you  upload a new post</h3>
                        <br>
                        <p>Voodoo logs your internet protocol and the time and date when you use our service. We don't share your internet protocol with anyone, but we do
                            have the right to do so if we feel like we need to. Your information is private and kept in secret with us, we do not sell it to any third-party
                            group.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>